//
   Created by GeoStar on 2015/9/10.
extends layout
block css
    link(rel="stylesheet", href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css")
block content
     section.row
         include include/siteLog
         include include/aboutme
