//
   Created by GeoStar on 2015/8/31.
extends layout
block content
   section.row
      include ./include/detail
      include ./include/aside

   //script(src='/javascripts/articleDetail.js',type='text/javascript')