//
   Created by GeoStar on 2015/8/25.
article.col-md-8
    div(id="article-con")
    div(id='page').panel
            div no data!
script(src='/javascripts/lib/simple-paginator-1.0.js',type='text/javascript')
script(src='/javascripts/article.js',type='text/javascript')