//
   Created by GeoStar on 2015/8/25.

aside.col-md-4
   //一句话
   include ./mood
   //最新
   include ./last
   //最热
   include ./hot
   //友情链接
   include ./friendlink
script(src='/javascripts/aside.js',type='text/javascript')