//comments
div(id='SOHUCS',sid='#{data._id}')
script(charset="utf-8",type="text/javascript", src="http://changyan.sohu.com/upload/changyan.js" )
script(src='/javascripts/comments.js',type='text/javascript')


