//comments
div(id='SOHUCS',sid='#{data._id}')
script(id="changyan_mobile_js", charset="utf-8", type="text/javascript",src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=cyrXdHsEM&conf=prod_7ca05d56e1d25c09225b6bb38e76fba1")
//script(charset="utf-8",type="text/javascript", src="http://changyan.sohu.com/upload/changyan.js" )
//script(src='/javascripts/comments.js',type='text/javascript')


