//
   Created by GeoStar on 2015/8/25.
div.text-gray
   p.text-center Copyright by www.itblg.com, All Rights Reserved
   p.text-center.beian
     a(href="http://www.miitbeian.gov.cn/" target="_blank") 京ICP备15052826号