//
   Created by GeoStar on 2015/9/9.
div.box.box-primary.box-solid
   div.box-header.with-border
      h3.box-title 友情链接
   div.box-body
      ul.nav.nav-pills.nav-stacked
         li
            a(href='http://www.baidu.com',target='_blank') 百度
         li
            a(href='http://www.sina.com',target='_blank') 新浪
         li
            a(href='http://www.sohu.com',target='_blank') 搜狐
         li
            a(href='http://www.taobao.com',target='_blank') 淘宝
         li
            a(href='http://www.qq.com',target='_blank') 腾讯
