//Created by ack on 2015/9/8.
div.box.box-success.box-solid
   div.box-header.with-border
      h3.box-title 热门文章
   div(id="article-hot").box-body
      ul.nav.nav-pills.nav-stacked
         li
            a(href='#') this is new article panel
         li
            a(href='#') this is new article panel
         li
            a(href='#') this is new article panel
         li
            a(href='#') this is new article panel
         li
            a(href='#') this is new article panel
