//
   Created by GeoStar on 2015/8/31.

div.box.box-info
   div.box-header.with-border
      h3.text-center #{data.title}
   div.box-sub-header.bg-info
      div.row
         div.col-md-8 日期:#{data.time}
         div.col-sm-2 作者:ack
         div.col-md-2 访问:#{data.visits}
   div(id='main-content').box-body !{data.content}
