//
   Created by GeoStar on 2015/9/10.

div.box.box-solid.box-info
   div.box-header.with-border
      div.row
         div.col-md-4
            h3.box-title 每天来一句
         div#mood-time.col-md-8  2015年9月24日
   div(id="mood").box-body

