//
   Created by GeoStar on 2015/8/19.

nav(role='navigation').navbar.navbar-inverse
   div.navbar-header
      button(type='button',data-toggle='collapse', data-target='#blog-navbar-collapse').navbar-toggle
          span.sr-only  change
          span.icon-bar
          span.icon-bar
          span.icon-bar
      a.navbar-brand ACK'S BlOG
   div(id='blog-navbar-collapse').collapse.navbar-collapse.navbar-right
    ul(id='blog-navbar-ul').nav.navbar-nav


script(src='/javascripts/navigation.js',type='text/javascript')