//相关
   Created by GeoStar on 2015/9/1.


div.box.box-info
   div.box-header.with-border
      h5 相关文章
   div.box-body.no-padding
      div.row
         div.col-sm-6
            ul.nav.nav-pills.nav-stacked
               li
                 a(href="#") sss
               li
                  a(href="#") sss2
               li
                  a(href="#") ss3
         div.col-sm-6 this is test 2
