div.col-md-8
   div.log-bg
      ul.timeline
         li.time-label
            span.bg-success  2015-10-10
         li
            i.fa.fa-cubes.bg-yellow
            div.timeline-item
               h3.timeline-header 导航
               div.timeline-body
                  ol
                     li 添加other

         li.time-label
            span.bg-success  2015-09-25
         li
            i.fa.fa-fire-extinguisher.bg-yellow
            div.timeline-item
               h3.timeline-header 优化查询
               div.timeline-body
                  ol
                     li 优化数据库查询
         li
            i.fa.fa-fire-extinguisher.bg-yellow
            div.timeline-item
               h3.timeline-header 安全管理
               div.timeline-body
                  ol
                     li 添加安全管理
         li.time-label
            span.bg-success  2015-09-23
         li
            i.fa.fa-frown-o.bg-yellow
            div.timeline-item
               h3.timeline-header bug修改
               div.timeline-body
                  ol
                     li 日期显示bug
                     li 排序bug
                     li 手机端不能正常显示wap版畅言
         li.time-label
            span.bg-success  2015-09-22
         li
            i.fa.fa-globe.bg-green
            div.timeline-item
                h3.timeline-header
                   a(href="javascript:;") 博客上线啦
                   | uploaded new photos
                div.timeline-body 我的博客出生了... ...
   div(id='SOHUCS',sid='about-me-id')
script(src='/javascripts/comments.js',type='text/javascript')