body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #000;
}
#main-content  img{
  max-width:100%;
  height: auto;
}
.log-bg{
  background-color: #d2d6de !important;
}
.beian  a{
  color: #666;
}
