//
   Created by GeoStar on 2015/9/23.

link(rel="stylesheet", href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css")
link(href="/3part/bootstrap-summernote/summernote.css", rel="stylesheet")
div#summernote-editor

script(type='text/javascript',src="/3part/bootstrap-summernote/summernote.min.js")
script(type='text/javascript' src='/3part/bootstrap-summernote/summernote-load.js')